In [1]:
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
wine = pd.read_csv ("winequality_red.csv", sep=',')

In [3]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [5]:
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [7]:
# preprocessing data
bins = (2, 6.5, 8) #objek = 2, bad <= 6.5, good => 8
group_names = ['bad', 'good'] # buat nama objek sesuai jumlah objek pada bins

In [8]:
wine['quality'] = pd.cut(wine['quality'], bins=bins, labels = group_names)
wine['quality'].unique()

[bad, good]
Categories (2, object): [bad < good]

In [9]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,bad
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,bad
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,bad
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,bad
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,bad

In [10]:
# labelendocer
label_quality = LabelEncoder()
wine['quality'] = label_quality.fit_transform(wine['quality'])

In [16]:
# wine['quality'].head()
wine['quality'].value_counts()

0    1382
1     217
Name: quality, dtype: int64

In [17]:
# pisahkan kriteria dan target pada dataset
X = wine.drop('quality', axis = 1)
y = wine['quality']

In [19]:
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [20]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: quality, dtype: int32

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [32]:
X_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
493,8.7,0.690,0.31,3.0,0.086,23.0,81.0,1.00020,3.48,0.74,11.6
354,6.1,0.210,0.40,1.4,0.066,40.5,165.0,0.99120,3.25,0.59,11.9
342,10.9,0.390,0.47,1.8,0.118,6.0,14.0,0.99820,3.30,0.75,9.8
834,8.8,0.685,0.26,1.6,0.088,16.0,23.0,0.99694,3.32,0.47,9.4
705,8.4,1.035,0.15,6.0,0.073,11.0,54.0,0.99900,3.37,0.49,9.9

In [33]:
X_test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
803,7.7,0.56,0.08,2.50,0.114,14.0,46.0,0.9971,3.24,0.66,9.6
124,7.8,0.50,0.17,1.60,0.082,21.0,102.0,0.9960,3.39,0.48,9.5
350,10.7,0.67,0.22,2.70,0.107,17.0,34.0,1.0004,3.28,0.98,9.9
682,8.5,0.46,0.31,2.25,0.078,32.0,58.0,0.9980,3.33,0.54,9.8
1326,6.7,0.46,0.24,1.70,0.077,18.0,34.0,0.9948,3.39,0.60,10.6

In [34]:
y_train.head()

493    0
354    0
342    0
834    0
705    0
Name: quality, dtype: int32

In [35]:
y_test.head()

803     0
124     0
350     0
682     0
1326    0
Name: quality, dtype: int32

In [36]:
# tambahkan standard scaling untuk mendapatkan hasil yang optimal
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [37]:
sc

StandardScaler(copy=True, with_mean=True, with_std=True)

In [40]:
X_train

array([[ 0.21833164,  0.88971201,  0.19209222, ...,  1.09349989,
         0.45822284,  1.12317723],
       [-1.29016623, -1.78878251,  0.65275338, ..., -0.40043872,
        -0.40119696,  1.40827174],
       [ 1.49475291, -0.78434707,  1.01104539, ..., -0.07566946,
         0.51551749, -0.58738978],
       ...,
       [-0.65195559,  0.49909822, -1.08752211, ...,  1.28836145,
        -0.68767023, -0.87248428],
       [-0.24582155, -1.84458448,  0.39683051, ...,  0.05423824,
         0.80199076,  1.40827174],
       [-1.46422367, -1.34236676, -0.06383064, ...,  0.50891521,
        -0.68767023,  2.92877575]])

In [41]:
X_test

array([[-3.61859850e-01,  1.64286407e-01, -9.85152962e-01, ...,
        -4.65392578e-01, -1.34389336e-04, -7.77452782e-01],
       [-3.03840702e-01, -1.70525408e-01, -5.24491803e-01, ...,
         5.08915214e-01, -1.03143815e+00, -8.72484283e-01],
       [ 1.37871461e+00,  7.78108067e-01, -2.68568937e-01, ...,
        -2.05577167e-01,  1.83329452e+00, -4.92358280e-01],
       ...,
       [-1.37449586e-02,  3.87494284e-01, -1.15015218e-01, ...,
        -1.04997725e+00, -7.44964886e-01, -5.87389780e-01],
       [ 2.76350785e-01, -1.45397070e+00,  6.01568807e-01, ...,
        -1.04997725e+00,  1.71749571e-01,  7.43051230e-01],
       [ 4.50408230e-01,  1.30822677e+00, -1.18989125e+00, ...,
        -1.40623314e-01, -6.87670232e-01, -6.82421281e-01]])

In [42]:
# # ----------- Random Forest Classifier
print("\n----------- Random Forest Classifier -----------\n")
# n_estimator = pembuatan jumlah pohon, semakin tinggi semakin baik ..
# .. tapi membuat pemrosesan butuh waktu lebih
rfc = RandomForestClassifier(n_estimators=200)
rfc.fit(X_train, y_train) # data training
pred_rfc = rfc.predict(X_test) # data testing
data_uji = pd.DataFrame(X_test)
hasil = pd.DataFrame(pred_rfc)
# print(data_uji.head(20))
print(hasil.head())

----------- Random Forest Classifier -----------

   0
0  0
1  0
2  0
3  0
4  0

In [43]:
# cetak evaluasi algoritma
print(classification_report(y_test, pred_rfc))
print(confusion_matrix(y_test, pred_rfc))
cmrf = accuracy_score(y_test, pred_rfc)
print("\nPeriksa Akurasi = ",cmrf)

              precision    recall  f1-score   support

           0       0.93      0.96      0.94       273
           1       0.72      0.55      0.63        47

    accuracy                           0.90       320
   macro avg       0.82      0.76      0.79       320
weighted avg       0.90      0.90      0.90       320

[[263  10]
 [ 21  26]]

Periksa Akurasi =  0.903125

In [48]:
print("\n----------- SVM Classifier -----------\n")
# classification
clfsvm = svm.SVC()
clfsvm.fit(X_train, y_train)
pred_clfsvm = clfsvm.predict(X_test)
pred_clfsvm = pd.DataFrame(pred_clfsvm)
print(pred_clfsvm.head())

----------- SVM Classifier -----------

   0
0  0
1  0
2  0
3  0
4  0

In [49]:
# evaluation
print(classification_report(y_test, pred_clfsvm))
print(confusion_matrix(y_test, pred_clfsvm))
cmsvm = accuracy_score(y_test, pred_clfsvm)
print("\nPeriksa Akurasi = ",cmsvm)

              precision    recall  f1-score   support

           0       0.88      0.98      0.93       273
           1       0.71      0.26      0.37        47

    accuracy                           0.88       320
   macro avg       0.80      0.62      0.65       320
weighted avg       0.86      0.88      0.85       320

[[268   5]
 [ 35  12]]

Periksa Akurasi =  0.875

In [50]:
print("\n----------- Neural Network -----------\n")
# classification
mlpc = MLPClassifier(hidden_layer_sizes = (11, 11, 11), max_iter=500)
mlpc.fit(X_train, y_train)
pred_mlpc = mlpc.predict(X_test)
pred_mlpc = pd.DataFrame(pred_mlpc)
print(pred_mlpc.head())

----------- Neural Network -----------

   0
0  0
1  0
2  0
3  0
4  0

C:\Users\salri\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [52]:
# evaluation
print(classification_report(y_test, pred_mlpc))
print(confusion_matrix(y_test, pred_mlpc))

cm = accuracy_score(y_test, pred_mlpc)
print("\nPeriksa Akurasi = ",cm)

              precision    recall  f1-score   support

           0       0.91      0.95      0.93       273
           1       0.61      0.47      0.53        47

    accuracy                           0.88       320
   macro avg       0.76      0.71      0.73       320
weighted avg       0.87      0.88      0.87       320

[[259  14]
 [ 25  22]]

Periksa Akurasi =  0.878125

In [53]:
# coba data baru untuk diklasifikasi
print("\n----------- Prediksi Data Baru -----------\n")
Xnew = [[7.3, 0.58, 0.00, 2.0, 0.065, 15.0, 21.0, 0.9946, 3.36, 0.47, 10.0]]
# tambahkan standar scaling
X_new = sc.transform(Xnew)
ynew = clfsvm.predict(Xnew)
print(ynew)

----------- Prediksi Data Baru -----------

[0]